@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Smythe&display=swap');
body {
    margin: 0;
    font-family: 'Smythe', cursive;
} 

main {
    margin: 0 48px 0 48px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 200px) ;
}

header {
    background-image: url('/images/burger.jpg');
    background-size: cover;
    background-position: 25% 75%;
    color: white;
    padding: 45px;
}

h1, h2 {
    margin:0;
    padding-bottom: 20px
}

h1 {
    font-size: 39px;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 28px;
    line-height: 24px;
    margin-block-end: 8px;
    margin-block-start: 8px;
}

.menu-list {
    overflow-y: scroll;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0 32px 0;
}

.item-emoji {
    font-size: 72px;
    margin-block-end: 0;
    margin-block-start: 0;
    opacity: 72%;
}

.ingredients {
    color: #8B8B8B;
    font-size: 16px;
    line-height: 24px;
}

.item-details {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
}

.item-details p {
    margin-block-end: 8px;
    margin-block-start: 8px;
}

.item-name {
    font-size: 28px;
    line-height: 16px;
}

.price {
    font-size: 20px;
    line-height: 24px;
}

hr {
    height: 1px;
    width: 100%;
    background-color:#D2D2D2;
    border-style: none;
}

.quantity-button {
    border-radius: 100%;
    height: 14px;
    width: 14px;
    margin: 16px 4px 16px 4px;
    padding: 12px;
    border: 1px solid #D2D2D2;

}

.item-interactions {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    cursor: pointer;
}

.item-quantity {
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-family: 'Smythe', sans-serif;
}

.ordering-btn {
    background-color: #16DB99;
    color: white;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 28px;
    border-radius: 4px;
}

.order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.detail {
    display: inline-block;
}

.order-item-remove {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #D2D2D2;
    padding-left: 14px;
    margin-block-end: auto;
    margin-block-start: auto;
    cursor: pointer;
}

.your-order-title {
    text-align: center;
    margin: 20px 0;
}

.order-total {
    display: flex;
    justify-content: space-between;
}

.cart-area {
    background-color: white;
    border-top: 1px solid rgb(240, 240, 240);
    padding-left: 48px;
    padding-right: 48px;
}

.order-items-list p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.order-items-list {
    height: 100px;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.payment-modal {
    position: fixed;
    width: 75%;
    height: 542px;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 25px;
    box-shadow: 5px 5px 255px 0px #00000050;
    text-align: center;
    border-radius: 4px;
}

.payment-modal p {
    margin-top: 45px;
    margin-bottom: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.payment-modal .cc-input {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 72px;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #757575;
    text-indent: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.success-message {
    background-color: #ECFDF5;
    color: #065F46;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    left: 0px;
    right: 0px;
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: 'Smythe', cursive;
    padding-bottom: 32px;
    padding-top: 32px;
}


